{% extends 'base.html' %}


{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

{% if name %}
    <h1>Olá, {{ name }}!</h1>
    <br/>

    <br/><br/>



{% else %}
    <h1>Usuários listados: </h1>
    <br/>
    <form method="POST">

        {{ form.hidden_tag() }}

        {{ form.name.label(
        class="form-label") }}

        {{ form.name(
        class="form-control") }}

        <br/>

        {{ form.email.label(
        class="form-label") }}

        {{ form.email(
        class="form-control") }}

        {{ form.submit(
        class="btn btn-secondary") }}


    </form>

<br/><br/><br/>
{% for usuarios_cadastrados in usuarios_cadastrados %}
    {{ usuarios_cadastrados.id }}. {{ usuarios_cadastrados.name}} - {{ usuarios_cadastrados.email }}<br/>
{% endfor %}

{% endif %}

{% endblock %}